.content-footer{
    height: 60px;
    width: 100%;
    background-color: white;
    color:black;
    text-size-adjust: 24px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.content-footer-title{
    
}

